# Dependencies
node_modules/

# Build outputs
dist/
*.tsbuildinfo
buildInfo.ts

# Environment files
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# TIC-80 build artifacts
obj/
bin/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local
temp/
.ticbuild/remoting